<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperForum</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-color:#5960f0;">

<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#10153b;">
  <a class="navbar-brand text-white" href="/">SuperForum</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link text-white" href="/new_thread">Create <span class="sr-only"></span></a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link text-gray disabled" href="/new_thread" style="color:#9fa0a1;">Create <span class="sr-only"></span></a>
      </li>
      {% endif %}
      <li class="nav-item active">
        <a class="nav-link text-white" href="/register">Register <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white" href="/login">Login <span class="sr-only"></span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container text-center">
    <header class="my-5">
        <h1>SuperForum - The forum with actual experts (and people)</h1>
        <p>SuperForum: the ultimate forum for all of your problems!</p>
    </header>
    {% block content %}
    <h1>Forum Threads</h1>

    {% if threads %}
    {% for thread in threads %}

    <div style="margin: 50px;" class="thread">
    <a href="/posts/{{thread.id}}" style="color:#000000;">
    <h3>{{ thread.title }}</h3>
    </a>
    {% if "def_image.png" not in thread.image.url %}
    <a href="/posts/{{thread.id}}">
    <img src="{{thread.image.url}}" style="width:400px;height:300px;" >
    </a>
    {% endif %}
    <p>{{ thread.text }}</p>
    <div class="meta">
    By {{ thread.author.username }} on {{ thread.publish_date|date:"M d, Y H:i" }}
    | {{ thread.replies.count }} repl{{ thread.replies.count|pluralize:"y,ies" }}
    </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endblock %}

    <footer class="my-5">
        <p>&copy; 2025 SuperForum | Stucci Studios</p>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>